<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReactTS</title>
    <script defer src="/scripts/reaction.js"></script>
    <script defer src="/scripts/clicker.js"></script>
    <link rel="stylesheet" href="/views/index.css">
    <link rel="stylesheet" href="/views/clicker.css">
    <link rel="stylesheet" href="/views/clickerMob.css">
</head>
<body>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
        <header id="header">
            <h1 id="mainTitle">
                Test Your CLICKER Reaction Speed!
            </h1>
            <div id="dropdown">
                <button id="gameChoiceBtn" onclick="openList()"> 
                            Choose a Game
                </button>
                <div id="gameSelect" class="dropDownItems">
                    <a href="/views/dots.html">DOTS</a>
                    <a href="/views/typer.html">TYPER</a>
                    <a href="/views/clicker.html">CLICKER</a>
                </div>
            </div>
        </header>    
        <section id="game">
            <header id="gameHeader">
                <button id="startButton" onclick="startGame()">START</button>
                <h1 id="scoreText">SCORE</h1>
                <h1 id="helpTitle" onclick="revealHelpText()">HELP</h1>
            </header>
            <text id="helpText">Click and hold the red button until it turns yellow. Then when the button turns green release the button as quick as possible. $$$ means your test has been successful
                <br>NOTE: Wait until results display before playing again
            </text>
            <h2 id="time">TIME: 30</h2>
            <div id="clickArea"></div>
        </section>
        <a href="#" id="hitBox" onclick="hit()">
            <div id="hitBoxText">
                Click!
            </div>
        </a>
        <div id="canvasDiv">
            <canvas id="myChart"></canvas>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script defer src="/scripts/chartClick.js"></script>        
        </div >   
    </div >   
</body>
</html>