<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReactTS</title>
    <script defer src="/scripts/reaction.js"></script>
    <link rel="stylesheet" href="/views/index.css">
    <link rel="stylesheet" href="/views/indexMob.css">
</head>
<body>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
        <header id="header">
            <h1 id="mainTitle">
                Test Your Reaction Speed!
            </h1>
            <div id="dropdown">
                    <button id="gameChoiceBtn" onclick="openList()"> 
                                Choose a Game
                    </button>
                <div id="gameSelect" class="dropDownItems">
                    <a href="/views/dots.html">DOTS</a>
                    <a href="/views/typer.html">TYPER</a>
                    <a href="/views/clicker.html">CLICKER</a>
                </div>
            </div>
        </header>    
    </div >   
</body>
</html>